.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
    
}
  
.card-title {
    margin-bottom: 0.75rem;
}

.card-text:last-child {
    margin-bottom: 0;
}
  
.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}
  
.card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}
  
.card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}
.card-img-top2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}
.card-img-top3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.card-img-min {
    width: 15%;
    /*border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);*/
}

.card-contakt1 { 
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
   
 }
.card-contakt2 { 
   /* padding: 0.75rem 1.25rem;*/
   display: flex;
   flex-direction: column;
   border-color: chartreuse;
   border-radius: 10px;
   margin-top: 10px;
   background-color: rgb(183, 247, 188);
}

@media (max-width: 800px) {
    .row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .col, .col-4 {
        max-width: 100%;
        padding: 0 2em;
    }
}