.great-started {
    /* background: url(../images/Надмирне\ споживання.jpg)  no-repeat; */
    background: url(../images/Надмирне\ споживання.jpg) fixed no-repeat;
    /* background-size: cover; */
    background-size: contain;
    padding: 15em 0;
    margin: 20px;
    display: flex;
}

.great-started .great-started-text h4 {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
}
.great-started .great-started-text h2 {
    color: #fff;
    font-size: 40px;
    margin: 25px;
    text-transform: uppercase;
}

.great-started .great-started-text .btn-common {
    text-transform: uppercase;
}


@media all and (max-width: 600px) {
    .great-started {
        display: none;
    }
}